# Block everything by default
*

# Always include
!/vendor/**
!/**/
!*.*
!Makefile*
!LICENSE
!Dockerfile*

# IDE & tooling
.idea/
*.iml
.vscode
.cscode
.github
.circleci
.goreleaser.yml

# Build bits
dist/
VERSION

# Other
.DS_Store
thumbs.db
.tmp/
_*
